body {
    font-family: Outfit, sans-serif;
    margin: 0;
    background-color:white;
    min-height: 100vh;
    min-width: 375px;
}

:root {
    --Primary: #FF385C;
    --Secondary: #222222;
    --Neutral-200: #F5F5F5;
    --Neutral-600: #C9C9C9;
    --Neutral-100: #FAFAFA;
    --Neutral-500: #DEDEDF;
    --Neutral-700: #919191;
}

.container {
    width: auto;
    min-width: 375px;
    box-sizing: border-box;
}

.main-content {
    padding-top: 70px;
}

.header {
    border-bottom: 1px var(--Neutral-200) solid;
}

.topbar {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: auto;
}

.logo-name {
    width: auto;
}

.topbar-actions {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.action-button {
    padding: 8px 16px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.action-text {
    text-align: center;
    color: var(--Secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    text-decoration: none;
}

.topbar-login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.login-button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px var(--Neutral-600) solid;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    background: transparent;
}

.login-text {
    text-align: center;
    color: var(--Secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.hero-section {
    align-self: stretch;
    padding: 32px 288px;
    display: flex;
    flex-direction: column;
}

.hero-container {
    height: 560px;
    margin: 32px 0px;
    border-radius: 24px;
    overflow: hidden;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 47.14%), url('../assets/image_1.jpg');
    background-color: var(--Neutral-100);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.hero-text {
    color: var(--Neutral-100);
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
}

.hero-text .accent {
    color: var(--Primary);
    line-height: 56px;
    font-size: 96px;
    font-weight: 700;
    font-family: Outfit;
    margin-left: -15px;
}

.search-container {
    width: 100%;
    padding: 8px;
    background: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid var(--Neutral-500);
    display: flex;
    align-items: center;
}

.search-input-container {
    flex: 1;
    padding: 12px;
    background: white;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-input {
    flex: 1;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-placeholder {
    color: var(--Neutral-700);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.search-button {
    height: 56px;
    padding: 16px;
    background: var(--Primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    width: 24px;
    height: 24px;
    background-color: var(--Neutral-100);
    -webkit-mask: url(icons/Search.svg) no-repeat center;
    mask: url(icons/Search.svg) no-repeat center;
}


/* Mobile */
@media screen and (max-width: 768px) {
    .container {
        margin: 0px 16px;
    }

    .logo-name {
        display: none;
    }

    .logo-container {
        gap: 0;
    }

    .hero-text {
        font-size: 32px;
        line-height: 40px;
    }

    .hero-section {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .hero-text .accent {
        font-size: 64px;
        line-height: 40px;
        font-weight: 700;
        font-family: Outfit;
        margin-left: -5px;
    }

    .hero-content {
        height: 100%;
        justify-content: flex-end;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        margin: 0px 40px;
    }

    .hero-section {
        padding: 48px 40px;
    }

    .hero-text {
        font-size: 42px;
        line-height: 50px;
    }

    .hero-text .accent {
        font-size: 96px;
        line-height: 56px;
        font-weight: 700;
        font-family: Outfit;
        margin-left: -10px;
    }

    .hero-content {
        width: 80%;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .container {
        margin: 0px 288px;
    }

    .hero-section {
        padding: 48px 288px;
    }

    .hero-text {
        font-size: 48px;
        line-height: 56px;
        max-width: 700px;
    }

    .hero-text .accent {
        font-size: 96px;
        line-height: 56px;
        font-weight: 700;
        font-family: Outfit;
        margin-left: -15px;
    }

    .hero-content {
        width: 65%;
    }
}
